.sidebar {
  float: left;
  width: 20%;
  background-color: #eee;
}

.sidebar.hidden {
  display: none;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* The button used to open the sidebar */
.toggle-sidebar {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

